@media(max-width:1200px) {
    .about-block__right-block {
        margin-left: 20px;
    }
}
@media(max-width:1160px) {
    .header-block__nav-elem {
        a {
            margin: 0 20px;
        }
    }
    .work-block__number-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .number-block1 {
        margin: 20px 0;
        text-align: center;
    }
    .number-block1::before {
        content: url('../images/block3/Subtract.png');
        left: 71px;
        top: 0;
        position: absolute;
    }
    .number-block2 {
        margin: 20px 0;
        text-align: center;
    }
    .number-block2::before {
        content: url('../images/block3/Subtract\(1\).png');
        left: 75px;
        top: 0;
        position: absolute;
    }
    .number-block3 {
        margin: 20px 0;
        text-align: center;
    }
    .number-block3::before {
        content: url('../images/block3/Subtract\ \(3\).png');
        left: 75px;
        top: 0;
        position: absolute;
    }
    .number-block4 {
        margin: 20px 0;
        text-align: center;
    }
    .number-block4::before {
        content: url('../images/block3/Subtract\ \(4\).png');
        left: 47px;
        top: 0;
        position: absolute;
    }
    .number-block5 {
        margin: 20px 0;
        text-align: center;
    }
    .number-block5::before {
        content: url('../images/block3/Subtract\ \(5\).png');
        left: 44px;
        top: 0;
        position: absolute;
    }
    .number-block6 {
        margin: 20px 0;
        text-align: center;
    }
    .number-block6::before {
        content: url('../images/block3/Subtract\ \(6\).png');
        left: 42px;
        top: 0;
        position: absolute;
    }
    .number-block__number {
        margin: 0 auto;
    }
    .number-block__line_1 {
        display: none;
    }
    .number-block__line_2 {
        display: none;
    }
    .number-block__line_3 {
        display: none;
    }
    .number-block__line_4 {
        display: none;
    }
    .number-block__line_5 {
        display: none;
    }
}
@media(max-width:992px) {
    .header-block__nav-elem  {
        display: flex;
        flex-wrap: wrap;
    }
    .work-block {
        margin-top: -4px;
        padding-top: 35px;
        padding-bottom: 50px;
    }
    .work-block__title {
        margin-bottom: 20px;
    }
}
@media(max-width:890px) {
    .portfolio-block__text-and-slider {
        display: flex;
        flex-direction: column;
    }
    .pirtfolio-text__img {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .portfolio-block {
        padding-top: 50px;
    }
    .pirtfolio-text {
        margin-bottom: 10px;
        h4 {
            margin-top: 50px;
        }
    }
    .portfolio-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio-slider__slide-min {
        display: flex;
        justify-content: center;
    }
    .portfolio-slider__slide-min {
        margin-right: 5px;
        max-width: 320px;
        height: 105px;
        z-index: 2;
    }
}
@media(max-width:800px) {
    .about-us {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .about-block__right-block {
        margin-left: 0;
    }
    .left-block__img {
        img {
            width: 100%;
            height: auto;
        }
    }
    .right-block__title {
        margin-top: 50px;
    }
    .form-input__name-email {
        display: flex;
        flex-direction: column;
        input:first-child {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    .form-input__text {
        width: 304px;
    }
}
@media(max-width:725px) {
    .wrapper .header-block__number-margin {
        margin-left: 5px;
    }
    .container {
        padding: 0 20px;
    }
}
@media(max-width:685px) {
    .header-block__number {
        display: flex;
        flex-direction: column;
    }
    .wrapper .header-block__number-margin {
        margin-left: 0;
    }
    .header-block__contacts {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-block__number {
        margin-right: 10px;
    }
    .footer-block {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .footer-block__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-block__nav-menu {
        margin: 10px 0;
    }
    .footer-block__social {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .footer-block__fc {
        margin: 0 20px;
        cursor: pointer;
    }
    .reviews-block__arrow-prev {
        svg {
            left: 200px;
            top: -80px;
        }
    }
    .reviews-block__arrow-next {
        svg {
            right: 200px;
            top: -80px;
        }
    }
}
@media(max-width:550px) {
    .portfolio-slider__slide-max {
        width: 100%;
    }
    .reviews-block__block-slider {
        .slick-dots {
            display: none;
        }
    }
}
@media(max-width:500px) {
    .header-block__nav-elem  {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        a {
            margin: 5px 5px;
        }
    }
    .header-block__centr-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .reviews-block__arrow-prev {
        svg {
            left: 100px;
            top: -80px;
        }
    }
    .reviews-block__arrow-next {
        svg {
            right: 100px;
            top: -80px;
        }
    }
}
@media(max-width:390px) {
    .header-block__warranty {
        background: $gray;
    }
    .warranty-block {
        margin: 0 auto;
    }
    .portfolio-slider__img {
        .slick-dots {
            display: flex;
            justify-content: flex-start;
            .slick-active {
                button {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 4px rgba(255, 153, 0, 0.43);
                }
            }
            li {
                list-style: none;
            }
            button {
            font-size: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.45);
            border: none;
            cursor: pointer;
            margin: 0 10px;
            }
        }
    }
}